models/
node_modules/
.vite/
out/

*.tsbuildinfo

*.log
logs/
npm-debug.log*

.env
.env.*
!.env.example

coverage/
*.lcov

.eslintcache
.npm/
.cache/

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

*.pid
*.pid.lock
*.seed

*.tgz
